<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">&copy; {{ site.title | escape }} 2023</h2>

    <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1" style="width:100%">
            {%- include social.html -%}
            {%- if site.email -%}<a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>{%- endif -%}
        </div>
    </div>

  </div>

</footer>
