<ul class="social-media-list">
    >
    <a href="https://discord.gg/{{ site.discord_link| cgi_escape | escape }}"><font color="#5865F2"><span class="username">discord</span></font></a>
    <br>
    >
    <a href="https://www.github.com/{{ site.github_username| cgi_escape | escape }}"><font color="#DDDDDD"><span class="username">github</span></font></a>
    [<a href="https://www.github.com/{{ site.github_repo }}"><font color="#DDDDDD"><span class="username">source</span></font></a>]
    <br>
    >
    <a href="https://www.roblox.com/groups/{{ site.roblox_group| cgi_escape | escape }}"><font color="#AAAAAA"><span class="username">roblox</span></font></a>
    <br>
    >
    <a href="https://www.youtube.com/@{{ site.youtube_username| cgi_escape | escape }}"><font color="#DD0000"><span class="username">youtube</span></font></a>
    <br>
</ul>
