<ul class="social-media-list">
    |
    <a href="https://discord.gg/{{ site.discord_link | cgi_escape | escape }}" target="_blank"><img src="/assets/image/social/discord.svg" width=30px /></a>
    <!--<br>-->
    //
    <a href="https://www.github.com/{{ site.github_username | cgi_escape | escape }}" target="_blank"><img src="/assets/image/social/github.svg" width=30px /></a>
    <!--<br>-->
    //
    <a href="https://www.youtube.com/@{{ site.youtube_username | cgi_escape | escape }}" target="_blank"><img src="/assets/image/social/youtube.png" width=30px /></a>
    <!--<br>-->
    <!--//-->
    <!--<a href="https://boosty.to/{{ site.boosty_username | cgi_escape | escape }}" target="_blank"><img src="/assets/image/social/boosty.png" width=25px /></a>-->
    <!--<br>-->
    //
    <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
        <img src="/assets/image/social/rss.png" width=25px />
    </a>
    //
    <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
    |
</ul>