---
layout: default
---


<div id="categories">
    <h1 class="categories-list-heading">{{ page.list_title | default: "Categories" }}</h1>
    {% for category in site.categories %}
    <div class="category-select">
        {% capture category_name %}{{ category | first }}{% endcapture %} <a href="#{{ category_name | slugize }}">> {{ category_name }}</a>
    </div>
    {% endfor %}
    <br>
    <div id="line"><hr /></div>
    <br>
    {% for category in site.categories %}
    <div class="category-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
        <h2 class="category-head">{{ category_name }} ({{ site.categories[category_name].size }})</h2>
        <a name="{{ category_name | slugize }}"></a>
        <ul>
            {% for post in site.categories[category_name] %}
            {%- unless post.unlisted -%}
            <article class="archive-item">
                <h4>
                    <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a> || <font color="#AAAAAA">{{ post.date | date_to_string }}</font></li>{%- if forloop.last -%}<br>{%- endif -%}
                </h4>
            </article>
            {%- endunless -%}
            {% endfor %}
        </ul>
    </div>
    <div id="line-s"><hr /></div>
    <br>
    {% endfor %}
</div>