---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}
        {%- if page.categories -%}          
            <span></span> • <span></span>        
            {%- for category in page.categories -%}
                <span><a href="/categories/#{{ category }}"><font color="#999999"><u>{{ category }}</u></font></a>{%- unless forloop.last -%},&nbsp;{%- endunless -%}</span>
            {%- endfor -%}
        {%- endif -%}
        {%- if page.unlisted -%}  
            <span></span> • <span></span>  
            <font color="#999999">Unlisted</font></span>   
        {%- endif -%}
        <span style="float: right">{{ content | number_of_words }} words</span>
    </p>
  </header>
  <div id="line-x"><hr /></div>
    <br>
    <br>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if page.comments == true and site.disqus.shortname -%}
    {%- include disqus.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
